:root {
    --White: #FFFFFF;
    --Gray: #FAF9FF;
    --Black: #000000;
    --DGreen: #123634;
    --NGreen: #175047;
    --LGreen: #02FE85;
    --Purple: #681EDD;
}

/*#region Navbar & Footer*/

/*#region Navbar*/

.navbar .navbar-toggler-icon {
    background-image: url(/Travelime/src/IMG/Hamburger.png);
}

.navbarHamburger {
    border: none;
}

.navbar button:focus:not(:focus-visible) {
    box-shadow: none;
}

.navbar {
    background: var(--DGreen);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0;
}

.navbarContent {
    background: var(--LGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    margin-right: 20px;
}

.navbarContent .logoLink {
    color: var(--DGreen);
    margin-right: 20px;
    text-decoration: none;
}

.navbar h1 {
    padding: 10px 5px 10px 0;
    margin: 0;
}

.nav-link {
    color: var(--Gray);
    font-size: 1.3rem;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}

.navbarLogo {
    border-bottom-right-radius: 10px;
    margin: 0 5px;
    height: 75px;
    width: 75px;
}

.nav-text {
    color: var(--LGreen);
    font-size: 1.3rem;
    margin: auto;
    margin-right: 20px;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.profilePicture {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

/*#region Input*/

.countriesInput {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.countriesInput input {
    background: var(--White);
    color: var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    transition: 0.1s ease-in;
}

@keyframes ScrollbarOpen {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

.countriesInput input:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border-bottom-left-radius: 0px;
    transition: 0.1s ease-out;
}

.countriesInput input:focus+button {
    border-bottom-right-radius: 0px;
}

.countriesInput button {
    background: var(--White);
    color: var(--Purple);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.countriesInput button:hover {
    background: var(--Purple);
    color: var(--White);
}

#countryOptions {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    list-style: none;
    padding: 0;
    top: 100%;
    max-height: 250px;
    overflow-y: auto;
    position: relative;
    width: calc(100% - 20px);
    z-index: 99;
    left: 0;
    right: 0;
    position: absolute;
    display: none;
    max-height: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    animation: ScrollbarOpen 0.25s ease-in 0s 1 normal forwards;
}

#countryOptions li {
    padding: 7.5px 0 7.5px 10px;
    cursor: pointer;
    background: white;
    border-radius: 0px;
    transition: ease-out 0.1s;
}

#countryOptions li:hover {
    transition: ease-in 0.1s;
    background-color: var(--LGreen)
}

/* Custom scrollbar styles */
#countryOptions::-webkit-scrollbar {
    width: 5px;
}

#countryOptions::-webkit-scrollbar-thumb {
    background: var(--DGreen);
    border-radius: 15px;
}

#countryOptions::-webkit-scrollbar-track {
    background: var(--White);
    border-radius: 0px 0px 15px 0px;
}

#countryOptions div {
    background: var(--White);
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    cursor: pointer;
}

#countryOptions div:hover {
    background: var(--LGreen);
    color: var(--DGreen);
}

/*#endregion Input*/

/*#region Hover Effect Links*/

.nav-link:hover {
    color: var(--LGreen);
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--LGreen);
    transition: width 0.5s;
}

.nav-link:hover::after {
    width: 100%;
}

/*#endregion Hover Effect Links*/

/*#endregion Navbar*/

/*#region Footer*/

.footer {
    background: var(--DGreen);
    color: var(--Gray);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .4);
}

.footer a {
    color: var(--Gray);
    text-decoration: none;
}

.footerButton {
    background: var(--NGreen);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    transition: 0.5s;
}

.footerButton:hover {
    border-radius: 10px;
}

.footerTitle {
    color: var(--LGreen);
    text-decoration: underline;
    font-weight: bold;
}

.footerTable td {
    padding-right: 1rem;
}

/*#endregion Footer*/

/*#endregion Navbar & Footer*/

/*#region Login, Register & Age Selector*/

.loginLogo {
    background: url("../IMG/Logo.png") center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 75px;
    width: 75px;
}

.loginBG {
    background: url('https://media.timeout.com/images/105645710/image.jpg') center;
    background-size: cover;
    filter: blur(7px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loginHL {
    background: url('../IMG/lines.avif') center;
    background-size: cover;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loginBox {
    border: 5px solid var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border-radius: 15px;
}

.loginBox input {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    transition: ease-in-out 2s;
}

.loginBox input:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    border: none;
}

.loginBanner {
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}

.loginLink {
    color: var(--DGreen);
}

/*#endregion Login, Register & Age Selector*/

/*#region Chatbot*/

#chatbot_button {
    background: var(--Gray);
    border: 3px solid var(--NGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    bottom: 15px;
    right: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 0;
    z-index: 9999;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    display: block !important;
}

#chatbot_button:hover {
    border: 3px solid var(--Purple);
}

#chatbotLogo {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

#chatbot {
    background: var(--White);
    border: green 3.5px solid;
    bottom: 15px;
    right: 15px;
    width: 300px;
    height: 400px;
    display: none;
    position: fixed;
    z-index: 99999;
    flex-direction: column;
}

#chatbot .close {
    background: var(--LGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 900;
    border: 0px;
    border-bottom-right-radius: 15px;
}

#outputContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: overlay;
}

.output {
    background: var(--LGreen);
    color: var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    margin: 6px auto 6px 10px;
}

.input {
    background: var(--Purple);
    color: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    margin: 6px 10px 6px auto;
}

.form-control:focus {
    box-shadow: none;
}

.input,
.output {
    border-radius: 12px;
    padding: 5px 12px;
    max-width: 200px;
    width: fit-content;
    word-wrap: break-word;
}

#chatbot .UI {
    width: 100%;
    display: flex;
    max-height: 50px;
    bottom: 0px;
}

.UI input {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    width: 100%;
    border-top-right-radius: 15px;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.UI button {
    background: var(--White);
    cursor: pointer;
    max-width: 40px;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
}

/* .UI button:hover {
    background: var(--NGreen);
} */

img {
    width: 100%;
}

/*#endregion Chatbot*/

/*#region Young*/

/*#region Home*/

.young .travelime {
    background: var(--LGreen);
    color: var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px;
}

.young .travelimeDesc {
    color: var(--Gray);
    text-transform: uppercase;
    padding: 10px;
}

.young .line {
    background: var(--LGreen);
    height: 2px;
    width: 50%;
    border-radius: 50px;
    margin: 20px;
}

.young .promoDeal {
    background: var(--NGreen);
    overflow: hidden;
    position: relative;
    height: 75vh;
}

.young .searchBar {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    margin-bottom: 10px;
}

.young .searchBar select,
.young .searchBar input,
.young .searchBar button {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    margin: 5px 0;
}

.young .searchBar button {
    background: var(--Purple);
    color: var(--White);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.young .searchBar button:hover {
    background: var(--White);
    color: var(--Purple);
    border: var(--Purple) 2px solid;
}

.young .greenCurve {
    background: var(--DGreen);
    height: 75vh;
    border-bottom-right-radius: 50%;
}

.young .bannerText {
    color: var(--Gray);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.young .bannerText h2 {
    margin-top: 20px;
}

.young .whiteRight {
    background: rgb(23, 80, 71);
    background: linear-gradient(90deg, rgba(23, 80, 71, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 0;
}

.young .imageCurve {
    background: url('../IMG/PromoDeal.webp') center;
    background-size: cover;
    height: 75vh;
    border-radius: 0 0 50% 50%;
    margin-bottom: -1px;
}

/*#endregion Home*/

/*#region Travel Advice*/

/*#region Information*/

.young .travelAdvice {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    animation: Countryshow 0.65s ease 0s 1 normal forwards;
}

@keyframes Countryshow {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.young .travelAdvice::before {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    position: absolute;
}

.young .travelAdviceContent {
    color: var(--White);
    z-index: 2;
    position: relative;
}

.young .travelAdviceContent h2,
.young .travelAdviceContent h4,
.young .travelAdviceContent p,
.young .travelAdviceContent .badge,
.young .travelAdviceContent a {
    background: rgba(255, 255, 255, 0.6);
    color: var(--Black);
    max-width: 60vw;
    padding: 3px;
    border-radius: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
}

.young .travelAdviceContent .badge {
    background: var(--White);
    margin-right: 5px;
    display: inline-block;
}

/*#endregion Information*/

/*#region Recommendations*/

.young .recommendations {
    background: var(--White);
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.young .recommendationsHeader {
    background: var(--NGreen);
    color: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
    margin: 15px 0;
}

.young .recommendationsIMG {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    position: relative;
}

.young .recommendationsIMGLarge {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    position: relative;
}

.young .imageWrapper {
    width: 100%;
    margin-top: 0;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

.young .imageWrapper::before {
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50px;
    content: '';
    position: absolute;
    pointer-events: none;
}

.young .textOverlay {
    color: var(--White);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    font-weight: bold;
    text-align: center;
}

/*#endregion Recommendations*/

/*#region Scroll Text*/

.young #scrollContainer {
    background: var(--Purple);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    padding: 10px 0;
    height: fit-content;
    overflow: hidden;
}

.young #scrollText {
    font-size: 2rem;
    transform: translateX(0%);
    text-transform: uppercase;
    animation: Scroll 600s linear infinite;
    white-space: nowrap;
    display: inline-block;
}

.young #scrollText:hover {
    animation-play-state: paused;
}

.young #scrollText a {
    color: var(--LGreen);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.young #scrollText a:hover {
    color: var(--White);
}

@keyframes Scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*#endregion Scroll Text*/

/*#endregion Travel Advice*/

/*#endregion Young*/

/*#region Adult*/

/*#region Home*/

.travelime {
    background: var(--LGreen);
    color: var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px;
}

.travelimeDesc {
    color: var(--Gray);
    text-transform: uppercase;
    padding: 10px;
}

.line {
    background: var(--LGreen);
    height: 2px;
    width: 50%;
    border-radius: 50px;
    margin: 20px;
}

.promoDeal {
    background: var(--NGreen);
    overflow: hidden;
    position: relative;
    height: 75vh;
}

.greenCurve {
    background: var(--DGreen);
    height: 75vh;
    border-bottom-right-radius: 50%;
}

.bannerText {
    color: var(--Gray);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bannerText h2 {
    margin-top: 20px;
}

.whiteRight {
    background: rgb(23, 80, 71);
    background: linear-gradient(90deg, rgba(23, 80, 71, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 0;
}

.imageCurve {
    background: url('../IMG/PromoDeal.webp') center;
    background-size: cover;
    height: 75vh;
    border-radius: 0 0 50% 50%;
    margin-bottom: -1px;
}

/*#region Introduction*/

.home-introduction {
    background-image: linear-gradient(to bottom, var(--White), var(--NGreen));
    color: var(--DGreen);
    margin-top: 70px;
    padding: 10px;
}

#wave {
    fill: var(--NGreen);
    bottom: 0;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
    height: auto;
}

/*#endregion Introduction*/

/*#region Feedback*/

.feedback-section {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 50px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-section h1 {
    background: var(--NGreen);
    color: var(--LGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: fit-content;
    text-align: center;
}

#feedback-container {
    background-image: linear-gradient(to right, var(--NGreen) , var(--DGreen));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-box {
    padding: 5px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.feedback-box li {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    margin: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ratingGood {
    color: green;
    padding: 0 15px;
}

.ratingRegular {
    color: orange;
    padding: 0 15px;
}

.ratingBad {
    color: red;
    padding: 0 15px;
}

/*#endregion Feedback*/

/*#endregion Home*/

/*#region Travel Advice*/

/*#region Searchbar*/

.searchBarBox {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 30px;
    margin-bottom: 20px;
    border-bottom-right-radius: 500px;
    height: fit-content;
}

/*#endregion Searchbar*/

/*#region Information*/

.travelAdvice {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    animation: Countryshow 0.65s ease 0s 1 normal forwards;
}

@keyframes Countryshow {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.travelAdvice::before {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    position: absolute;
}

.travelAdviceContent {
    color: var(--White);
    z-index: 2;
    position: relative;
}

.travelAdviceContent h2,
.travelAdviceContent h4,
.travelAdviceContent p,
.travelAdviceContent .badge,
.travelAdviceContent a {
    background: rgba(255, 255, 255, 0.6);
    color: var(--Black);
    max-width: 60vw;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
}

.travelAdviceContent .badge {
    background: var(--White);
    font-size: 1rem;
    margin-right: 5px;
    display: inline-block;
}

.checkHotels {
    text-decoration: none;
    color: var(--Purple);
    padding: 20px;
}

/*#endregion Information*/

/*#region Recommendations*/

.recommendations {
    background: var(--White);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.recommendationsHeader {
    background: var(--NGreen);
    color: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
    margin: 15px 0;
}

.recommendationsIMG {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    position: relative;
}

.recommendationsIMGLarge {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    position: relative;
}

.imageWrapper {
    width: 100%;
    margin-top: 0;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

.imageWrapper::before {
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50px;
    content: '';
    position: absolute;
    pointer-events: none;
}

.textOverlay {
    color: var(--White);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    font-weight: bold;
    text-align: center;
}

/*#endregion Recommendations*/

/*#region Scroll Text*/

#scrollContainer {
    background: var(--Purple);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    padding: 10px 0;
    height: fit-content;
    overflow: hidden;
}

#scrollText {
    font-size: 2rem;
    transform: translateX(0%);
    text-transform: uppercase;
    animation: Scroll 600s linear infinite;
    white-space: nowrap;
    display: inline-block;
}

#scrollText:hover {
    animation-play-state: paused;
}

#scrollText a {
    color: var(--LGreen);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

#scrollText a:hover {
    color: var(--White);
}

@keyframes Scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*#endregion Scroll Text*/

/*#region Dialog*/

dialog {
    background: var(--White);
    outline: var(--Purple) 2px solid;
    border-radius: 25px;
    font-size: 2rem;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 9999;
}

/*#endregion Dialog*/

/*#endregion Travel Advice*/

/*#region Account*/

.account {
    background: var(--White);
    height: fit-content;
    padding: 20px;
}

.account h1 {
    font-size: 3rem;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.account h2 {
    background: var(--NGreen);
    color: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: start;
    text-align: center;
    text-transform: uppercase;
}

.account button {
    background: var(--Purple);
    color: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
}

.account input {
    background: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4) inset;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
}

.account img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

.accountLine {
    background: var(--DGreen);
    height: 2px;
    width: 100%;
    border-radius: 5px;
    margin: 20px;
}

.accountBox {
    background: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    transition: 0.4s;
}

.bookmarksBox {
    background: var(--White);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    transition: 0.4s;
    max-height: 75vh;
    height: fit-content;
    overflow-y: auto;
}

.bookmarks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bookmark {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*#endregion Account*/

/*#endregion Adult*/

/*#region Elder*/

/*#region Chatbot*/

.elder #chatbot_button {
    width: 100px;
    height: 100px;
}

/*#endregion Chatbot*/

/*#region Home*/

.elder .travelime {
    background: var(--White);
    color: var(--DGreen);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 5px;
}

.elder .travelimeDesc {
    color: var(--Gray);
    text-transform: uppercase;
    padding: 10px;
}

.elder .line {
    background: var(--White);
    height: 2px;
    width: 50%;
    border-radius: 50px;
    margin: 20px;
}

.elder .promoDeal {
    background: var(--White);
    overflow: hidden;
    position: relative;
    height: 75vh;
}

.elder .searchBar {
    background: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    margin-bottom: 10px;
}

.elder .searchBar select,
.elder .searchBar input,
.elder .searchBar button {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.elder .searchBar button {
    background: var(--White);
    color: var(--DGreen);
    border: var(--DGreen) 2px solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.elder .searchBar button:hover {
    background: var(--LGreen);
    color: var(--DGreen);
}

.elder .greenCurve {
    background: var(--DGreen);
    height: 75vh;
    border-bottom-right-radius: 0%;
}

.elder .bannerText {
    color: var(--Gray);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.elder .bannerText h2 {
    margin-top: 20px;
}

.elder .whiteRight {
    background: rgb(23, 80, 71);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 0;
}

.elder .imageCurve {
    background: url('../IMG/PromoDeal.webp') center;
    background-size: cover;
    height: 75vh;
    border-radius: 0;
    margin-bottom: -1px;
}

/*#endregion Home*/

/*#region Travel Advice*/

/*#region Information*/

.elder .travelAdvice {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    animation: Countryshow 0.65s ease 0s 1 normal forwards;
}

@keyframes Countryshow {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.elder .travelAdvice::before {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    position: absolute;
}

.elder .travelAdviceContent {
    background: rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    color: var(--White);
    z-index: 2;
    position: relative;
}


.elder .travelAdviceContent h4,
.elder .travelAdviceContent p,
.elder .travelAdviceContent .badge,
.elder .travelAdviceContent a {
    background: transparent;
    color: var(--Black);
    max-width: 60vw;
    padding: 4px 15px 4px 15px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
}

.elder .travelAdviceContent h2 {
    background: transparent;
    margin: 0 0 0 10px;
    font-size: 2rem;
    font-weight: bold;
}

.elder .travelAdviceContent .badge {
    background: var(--White);
    margin-right: 5px;
    display: inline-block;
}

/*#endregion Information*/

/*#region Recommendations*/

.elder .recommendations {
    background: var(--White);
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.elder .recommendationsHeader {
    background: var(--NGreen);
    color: var(--Gray);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0;
    width: fit-content;
    padding: 10px;
    margin: 15px 0;
}

.elder .recommendationsIMG {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 200px;
    border-radius: 0;
    object-fit: cover;
    display: block;
    position: relative;
}

.elder .recommendationsIMGLarge {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
    width: 100%;
    height: 250px;
    border-radius: 0;
    object-fit: cover;
    display: block;
    position: relative;
}

.elder .imageWrapper {
    width: 100%;
    margin-top: 0;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

.elder .imageWrapper::before {
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
    content: '';
    position: absolute;
    pointer-events: none;
}

.elder .textOverlay {
    color: var(--White);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    font-weight: bold;
    text-align: center;
}

/*#endregion Recommendations*/

/*#region Scroll Text*/

.elder #scrollContainer {
    display: none;
}

/*#endregion Scroll Text*/

/*#endregion Travel Advice*/

/*#endregion Elder*/

/*#region account*/

/*#endregion account